.btn-sm {
  background-color: #f88538;
  color: #fff;
}
  .badge {
    background-color: #f88538;
    border: 1px solid #f88538;
    color: #f88538;
  }
  input:focus,
textarea:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #f76809;
    outline-width: 0
}
  .card-header{
      background-color: #f76809;
      color: #fff;}