
    <button (click)="close()"type="button" class="btn btn-tool pull-right">
        <i class="fas fa-times" style="color: black;"></i>
    </button>
<div class="card-holder">


    <div class="card-box bg-news">
        <div class="row">


            <div class="col-lg-6">

                <form   (ngSubmit)="onSubmit()" >
                    <div class="card-details">
                        <div class="form-group ">
                            <div class="inner-addon right-addon">
                                <input id="card-holder" type="text" class="form-control" placeholder="Card Holder"
                                    aria-label="Card Holder" aria-describedby="basic-addon1"  [(ngModel)]="data.name" name="name">
                            </div>
                        </div>                        <div class="row">
                            <div class="form-group col-sm-7">
                                <div class="inner-addon right-addon">
                                    <label for="card-holder">Started Date</label>
                                    <input type="datetime-local" id="end" name="trip-start" value="currentDate"
                                    min="currentDate" max="2025-12-31"  [(ngModel)]="data.startedDate" name="startedDate">
                                </div>
                            </div>
                            <div class="form-group col-sm-8">
                                <div class="inner-addon right-addon">
                                    <label for="card-number">End Date</label>
                                    <input type="datetime-local" id="end" name="trip-start" value="currentDate"
                                    min="currentDate" max="2025-12-31" [(ngModel)]="data.endDate" name="endDate">
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="cvc">Charge M/H</label>
                                <input id="cvc" type="text" class="form-control" placeholder="charge"
                                    aria-label="Card Holder" aria-describedby="basic-addon1"   [(ngModel)]="data.charge" name="version">
                            </div>
                            <div class="form-group col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-lg-6">
                <div >
                    <img height="250px" width="250px"   src="assets/logo.png"  />
               </div>
            </div>
            
            <!--/col-lg-6 -->

        </div>
        <!--/row -->
    </div>
    <!--/card-box -->
</div>
<!--/card-holder -->