body{
    margin-top:20px;
    background:#f8f8f8
}
.avatar--md .avatar__content img{
    width:40px;
    height:40px;
}
.btn-secondary{
    background-color: #f88538;
    border: 1px solid #f88538;
}

.nav-item a.nav-link.active {background-color:#f88538 ;}