<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container bootdey">
    <div class="card-header">
        <button (click)="close()" class="btn btn-tool pull-right" data-card-widget="remove" style="color: white;"
                type="button"><i class="fas fa-times"></i>
        </button>
        <h5>New Task</h5>

    </div>
    <div class="email-app">


        <main>
            <form (ngSubmit)="onSubmit()" [formGroup]="addTaskForm">
                <div class="form-row">
                    <div class="form-group col-4">
                        <label class="col-4 col-sm-11">title : </label>
                        <div class="col-10 col-sm-11">
                            <input [ngClass]="{ 'is-invalid': submitted && f.taskName.errors }" class="form-control" formControlName="taskName"
                                   type="text"/>
                            <div *ngIf="submitted && f.taskName.errors" class="invalid-feedback">
                                <div *ngIf="f.taskName.errors.required">title is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label class="col-4 col-sm-11">Choose Member :</label>
                        <div class="col-10 col-sm-11">
                            <select [ngClass]="{ 'is-invalid': submitted && f.idMember.errors }" class="form-control"
                                    formControlName="idMember">
                                <option *ngFor="let member of members" [value]="member.id"> {{ member.user.firstName }}
                                    {{ member.user.lastName }}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.idMember.errors" class="invalid-feedback">
                                <div *ngIf="f.idMember.errors.required">choose member please!</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label class="col-4 col-sm-11">Status : <i (click)="showFormStatus()" class="fas fa-plus"></i></label>
                        <div *ngIf="!showForm" class="col-10 col-sm-11">

                            <select [ngClass]="{ 'is-invalid': submitted && f.idStatus.errors }" class="form-control" formControlName="idStatus"
                                    placeholder="Status">
                                <option *ngFor="let status of stateGroup " [value]="status.statusDescritpion">
                                    {{ status?.statusDescritpion }}
                                </option>

                            </select>


                            <div *ngIf="submitted && f.idStatus.errors" class="invalid-feedback">
                                <div *ngIf="f.idStatus.errors.required">Status is required</div>
                            </div>


                        </div>

                        <div *ngIf="showForm" class="col-10 col-sm-11">
                            <!--<form  [formGroup]="statusForm" (ngSubmit)="addStatus()">
                                <div class="input-group input-group-sm">-->
                            <input aria-label="statut" class="form-control " formControlName="idStatus"
                                   type="content">

                            <!--  </div>
                         </form>-->
                        </div>


                    </div>
                    <!---- -->
                    <div class="form-group col-4">
                        <label class="col-4 col-sm-11">Priority :</label>
                        <div class="col-10 col-sm-11">
                            <select [ngClass]="{ 'is-invalid': submitted && f.priority.errors }" class="form-control" formControlName="priority"
                                    placeholder="Priority">
                                <option value="highPriority">highPriority</option>
                                <option value="mediumPriority">mediumPriority</option>
                                <option value="lowPriority">lowPriority</option>
                            </select>
                            <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
                                <div *ngIf="f.priority.errors.required">Priority is required</div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-4">

                        <label class="col-4 col-sm-11">Started Date : </label>
                        <div class="col-10 col-sm-11">
                            <input [ngClass]="{ 'is-invalid': submitted && f.startedDate.errors }" class="form-control" formControlName="startedDate" id="start"
                                   max="2025-12-31" min="currentDate" name="trip-start" type="datetime-local"
                                   value="currentDate">

                            <div *ngIf="submitted && f.startedDate.errors" class="invalid-feedback">
                                <div *ngIf="f.startedDate.errors.required">enter started date</div>
                                <div *ngIf="f.startedDate.errors.dateValidator">enter a date after the current date
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-4">

                        <label class="col-4 col-sm-11">Due Date : </label>
                        <div class="col-10 col-sm-11">
                            <input [ngClass]="{ 'is-invalid': submitted && f.deleveryDate.errors }" class="form-control" formControlName="deleveryDate" id="start"
                                   max="2025-12-31" min="currentDate" name="trip-start"
                                   type="datetime-local"
                                   value="currentDate">

                            <div *ngIf="submitted && f.deleveryDate.errors" class="invalid-feedback">
                                <div *ngIf="f.deleveryDate.errors.required">enter due date</div>
                                <div *ngIf="f.deleveryDate.errors.dateValidator">enter a date after the current date
                                </div>
                                <div *ngIf="f.deleveryDate.errors.dueDateValidator">enter a date after the started date
                                </div>

                            </div>

                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-sm-12 ml-auto">
                        <div class="form-group mt-4">
                            <textarea class="form-control" formControlName="descriptionTask" id="message" name="body"
                                      placeholder="Click here to reply" rows="12"></textarea>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-sm float right  ">Save Task</button>
                            &nbsp;
                            <button (click)="close()" class="btn btn-sm   " style="background-color: crimson; "
                                    type="reset">Cancel
                            </button>

                        </div>
                    </div>
                </div>
            </form>

        </main>
    </div>
</div>
