<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="content-wrapper">
    <div class="container-fluid">
        <br>

        <div class="row">

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"> <i class="nav-icon fas fa-edit"></i>

          </span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total Project</span>
                        <span class="info-box-number">
              {{ projects.length }}
            </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-stop"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Stopped project</span>
                        <span class="info-box-number">{{ nbStoppedProject }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Completed project</span>
                        <span class="info-box-number">{{ nbCompletedProject }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-secondary  elevation-1"><i class="fas fa-pause-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Paused project</span>
                        <span class="info-box-number">{{ nbPendingProject }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-body">
                        <a class="row ">
                            <mat-form-field class="col-xs-4 col-4 col-md-2 form-group">
                                <mat-label style="color: #f76809"><br> &nbsp;Filter By</mat-label>
                                <mat-select class="form-control" id="filter">
                                    <mat-option (click)="showSerachPeriode()"> Periode</mat-option>
                                    <mat-option (click)="searchProjectName()"> Project Title</mat-option>
                                    <mat-option (click)="searchProjectStatus()"> Project Status</mat-option>

                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="showPeriod" class="col-xs-2 col-4 col-md-2 form-group">
                                <br>
                                <input [(ngModel)]="myDateValue" class="form-control" id="start" max="2025-12-31" min="currentDate"
                                       name="trip-start"
                                       type="date" value="currentDate">
                            </div>
                            <div *ngIf="showPeriod" class="col-xs-2 col-2 col-md-2 form-group">
                                <br>
                                <input [(ngModel)]="toDate" class="form-control" id="start1" max="2025-12-31" min="currentDate"
                                       name="trip-start"
                                       type="date" value="currentDate">
                            </div>
                            <div *ngIf="showPeriod" class="col-xs-2 col-4 col-md-4 form-group">
                                <br>
                                <button (click)="filterDate()"
                                        class="btn btn-sm  ">Filter
                                </button>&nbsp;
                                <button (click)="getList()" class="btn btn-sm  "
                                        style="background-color: crimson; ">Cancel
                                </button>
                            </div>
                            <div *ngIf="showTitle" class="col-xs-2 col-6 col-md-3 form-group">
                                <br>
                                <div class="input-group">
                                    <input #k="ngModel" (ngModelChange)="searchByTitle(k.value)" class="form-control " id="searchNameTitle"
                                           name="k"
                                           ngModel placeholder="Search Project " required
                                           type="search">

                                    <div class="input-group-append">
                                        <button class="btn btn-secondary"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showStatus" class="col-xs-2 col-6 col-md-3 form-group">
                                <br>
                                <div class="input-group">
                                    <input #k="ngModel" (ngModelChange)="searchByStatus(k.value)" class="form-control " id="searchName"
                                           name="k"
                                           ngModel placeholder="Search Status " required type="search">

                                    <div class="input-group-append">
                                        <button class="btn btn-secondary"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-6 col-md-2  pull-right form-group">
                                <br>
                                <a (click)="goToAddProject()" class="btn btn-sm  " id="newProject"
                                   style="background-color: #f88538; color: #fff;">Add New Project
                                </a>
                            </div>
                        </a>


                        <div class="table-responsive project-list">

                            <table class="table project-table table-centered table-nowrap table-hover">
                                <thead>
                                <br>
                                <tr>
                                    <th style="color: #f88538;"></th>
                                    <th style="color: #f88538;">Projects</th>
                                    <th style="color: #f88538;">Start Date</th>
                                    <th style="color: #f88538;">Due Date</th>
                                    <th style="color: #f88538;">Status</th>
                                    <th style="color: #f88538;">Progress</th>
                                    <th style="color: #f88538;">Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                        *ngFor="let p of projects | sortProject | paginate : {id:'listing_pagination',itemsPerPage:3,currentPage:page, totalItems: totalRecords}; let index = index;  ">
                                    <td (click)="goToProjectDetail(p.project.id)">
                                        <a class="team team-member"
                                           data-original-title="Roger Drake" data-placement="top" data-toggle="tooltip" href="javascript: void(0);"
                                           title="">
                                            <img [src]="hostPhoto + p.project.projectLeader?.user_id" alt=""
                                                 class="rounded-circle avatar-xs" img/>
                                        </a>


                                    </td>
                                    <td (click)="goToProjectDetail(p.project.id)">{{ p.project.name }}</td>
                                    <td (click)="goToProjectDetail(p.project.id)">{{ formatDate(p.project.startedDate) }}</td>
                                    <td (click)="goToProjectDetail(p.project.id)">{{ formatDate(p.project.endDate) }}</td>
<!--                                    {{console.log('Raw end date from backend:', p.project.endDate)}}-->
                                    <td *ngIf="p.project.statusProject == 'COMPLETED'"><span
                                            class="badge badge-success pull-center">completed</span></td>
                                    <td *ngIf="p.project.statusProject == 'PROGRESSING'"><span
                                            class="badge badge-info pull-center">progressing</span></td>
                                    <td *ngIf="p.project.statusProject == 'STOPPED'"><span
                                            class="badge badge-danger pull-center">Stopped</span></td>
                                    <td *ngIf="p.project.statusProject == 'PENDING'"><span
                                            class="badge badge-warning pull-center">pending</span></td>
                                    <td *ngIf="p.project.statusProject == 'PAUSED'"><span
                                            class="badge badge-secondary pull-center">Paused</span></td>

                                    <td>
                                        <p class="mb-0">Progress<span class="float-right">{{ p.progress }}%</span></p>


                                        <progress-bar [color-degraded]="{'20' : '#dc3545','30' : '#ffc107','40' : '#17a2b8','60' : '#28a745'}"
                                                      [progress]="p.progress">
                                        </progress-bar>
                                    </td>
                                    <td>
                                        <div *ngIf="p.project.statusProject != 'COMPLETED'" class="action">
                                            <a class="btn btn-outline-secondary pull-center" data-toggle="tooltip" title="Pause Project">
                                                <i (click)="updateStatus(p.project.id, 'PAUSED')" class="fas fa-pause-circle"></i>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a (click)="updateStatus(p.project.id, 'STOPPED')" class="btn btn-outline-danger" data-toggle="tooltip" title="Stop Project">
                                                <i class="fas fa-stop-circle"></i>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a (click)="updateStatus(p.project.id, 'PROGRESSING')" class="btn btn-outline-success" data-toggle="tooltip" title="Resume Project">
                                                <i class="fas fa-play-circle"></i>
                                            </a>
                                        </div>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- end project-list -->
                        <div class="pull-right">
                            <pagination-controls (pageChange)="page = $event" class="custom-pagination" directionLinks="true"
                                                 id="listing_pagination"
                                                 maxSize="10"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>
