.card-header {
    background-color: #f76809;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-title {
        text-align: center;
        flex-grow: 1;
        font-size: 1.25rem;
    }

    .card-tools {
        button {
            color: #fff;

            .fas {
                font-size: 1rem;
            }
        }
    }
}

.card-body {
    padding: 20px;

    .image-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .success-image {
            height: 200px;
            width: 200px;
        }
    }

    .form-group {
        margin-bottom: 15px;

        .form-label {
            display: block;
            margin-bottom: 5px;
            font-size: 0.875rem;
            color: #333;
        }

        .form-control {
            border-radius: 5px;
            padding: 10px;
            font-size: 0.875rem;
            border: 1px solid #ccc;

            &:focus {
                border-color: #f76809;
                outline: none;
                box-shadow: none;
            }
        }
    }

    .btn {
        border-radius: 5px;
        padding: 10px;
        font-size: 1rem;
        background: #f76809;
        color: #fff;
        border: none;

        &:hover {
            background: #545454;
        }
    }
}
