/* ===== Career ===== */
.career-form {
  background-color: #f88538 ;
  border-radius: 5px;
  padding: 0 16px;
}



.career-form .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.career-form .select-container {
  position: relative;
}



.mb-30 {
    margin-bottom: 30px;
}