<div class="content-wrapper">
  <div class="container-fluid">
    <br>


    <div class="row">

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"> <i class="nav-icon fas fa-edit"></i>

          </span>

          <div class="info-box-content">
            <span class="info-box-text">Total Project</span>
            <span class="info-box-number">
              {{listProjectLeader.length}}
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-stop"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Stopped project</span>
            <span class="info-box-number">{{nbStoppedProject}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check-circle"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Completed project</span>
            <span class="info-box-number">{{nbCompletedProject}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-secondary  elevation-1"><i class="fas fa-pause-circle"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Paused project</span>
            <span class="info-box-number">{{nbPendingProject}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

    </div>
    <app-project-leader-list [listProjectLeader]="listProjectLeader"></app-project-leader-list>
  </div>
</div>