.btn-sm {
    background-color: #f88538;
    color: #fff;
}

.content-wrapper{
    background-color: #fff}
   
.custom-pagination{
    background-color: #f88538;
    color: #f88538;
    .itemsPerPage {
        background: #f88538;
    }

}
