<section class="container">
  <div class="content__inner">
    <br />
    <div class="toolbar">
      <div class="toolbar__label">
        {{ project.project.teamList.length }} Teams
      </div>
    </div>

    <div class="row groups">
      <div
        class="col-xl-2 col-lg-3 col-sm-4 col-6"
        *ngFor="let employee of project.project.teamList"
      >
        <div class="groups__item">
          <a>
            <div class="groups__img" *ngFor="let t of employee.teamMember">
              <img
                class="avatar-img"
                [src]="hostPhoto + t.user.user_id"
                alt=""
              />
            </div>

            <div class="groups__info">
              <strong>{{ employee.teamName }}</strong>
              <small>106 Contacts</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
