<div>
    <div class="card card-border-primary">
        <div class="card-header" style="background-color: white;">
            <div class="card-actions float-right">
                <div class="dropdown show">
                    <button (click)="close()" class="btn btn-tool pull-right" type="button">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <h4 class=" text-center" style="color: #f88538;"> add task with " {{ state }} " status </h4>
        </div>
        <div class="card-body p-3">
            <div class="card mb-3 bg-light">
                <div class="card-body p-3">
                    <form (ngSubmit)="onSubmit()" [formGroup]="addTaskForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Title :</label>
                                <input [ngClass]="{ 'is-invalid': submitted && f.taskName.errors }" class="form-control" formControlName="taskName" placeholder="title"
                                       type="text">
                                <div *ngIf="submitted && f.taskName.errors" class="invalid-feedback">
                                    <div *ngIf="f.taskName.errors.required">title is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Priority :</label>
                                <select class="form-control" formControlName="priority">
                                    <option selected value="highPriority">highPriority</option>
                                    <option value="mediumPriority">mediumPriority</option>
                                    <option value="lowPriority">lowPriority</option>
                                </select>
                                <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
                                    <div *ngIf="f.priority.errors.required">Priority is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity"> Started Date :</label>
                                <input [ngClass]="{ 'is-invalid': submitted && f.startedDate.errors }" class="form-control" formControlName="startedDate" id="start"
                                       max="2025-12-31"
                                       min="currentDate" name="trip-start" type="datetime-local"
                                       value="currentDate">
                                <div *ngIf="submitted && f.startedDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.startedDate.errors.required">enter started date</div>
                                    <div *ngIf="f.startedDate.errors.dateValidator">enter a date after the current
                                        date
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity"> Due Date : </label>
                                <input [ngClass]="{ 'is-invalid': submitted && f.deleveryDate.errors }" class="form-control" formControlName="deleveryDate" id="start"
                                       max="2025-12-31"
                                       min="currentDate" name="trip-start" type="datetime-local"
                                       value="currentDate">
                                <div *ngIf="submitted && f.deleveryDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.deleveryDate.errors.required">enter started date</div>
                                    <div *ngIf="f.deleveryDate.errors.dateValidator">enter a date after the current
                                        date
                                    </div>
                                    <div *ngIf="f.deleveryDate.errors.dueDateValidator">enter a date after the started
                                        date
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Description : </label>
                                <textarea class="form-control" formControlName="descriptionTask" id="inputAddress2"
                                          name="body"
                                          placeholder="Add description to task Here" style="width: 570px;"
                                          type="text"></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-sm float right  " style="color: #fff;">Save Task</button>&nbsp;
                            <button (click)="close()" class="btn btn-sm   " style="background-color: crimson;color: #fff; "
                                    type="reset">Cancel
                            </button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
