<div class="content-wrapper">
    <div class="container-fluid">
        <br>
        <div *ngIf="projectProgress" class="row" id="user-profile">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="main-box clearfix">
                    <br>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img [src]="hostPhoto+projectProgress.project.projectLeader.user_id" alt="Admin"
                                     class="rounded-circle p-1 " width="110">
                                <div class="mt-3">
                                    <h4 style="color: #f88538;">{{ projectProgress.project.projectLeader?.firstName }}
                                        {{ projectProgress.project.projectLeader?.lastName }}</h4>
                                    <p class="text-muted font-size-sm">Project Leader</p>
                                    <p class="text-muted font-size-sm">{{ projectProgress.project.projectLeader?.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-details">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h6 class="d-flex align-items-center mb-3"> Progress
                                                :   {{ projectProgress.progress }} % </h6>
                                            <progress-bar [color-degraded]="{'20' : '#dc3545','30' : '#ffc107','40' : '#17a2b8','60' : '#28a745'}"
                                                          [progress]="String(projectProgress.progress)">
                                            </progress-bar>
                                            <br>
                                            <h6 class="d-flex align-items-center mb-3"> Description : </h6>
                                            <a>{{ projectProgress.project.description }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 right">
                <div class="main-box clearfix">
                    <h6 *ngIf="auth.isManager()" class="mb-0 pull-right pointerr"><a routerLink="/home/project-list"
                                                                                     style="color: #f88538;">
                        Projects</a> / Project Detail </h6>
                    <h6 *ngIf="auth.isProjectLeader()" class="mb-0 pull-right pointerr"><a
                            routerLink="/project-leader/home" style="color: #f88538;">Projects </a> / Project Detail
                    </h6>
                    <br>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <a (click)=" goToUpdateProject()" class="btn btn-sm  float-right" style="color: #fff;">
                                Edit Project
                            </a>
                            <h2>{{ projectProgress.project.name }}</h2>
                            <div class="profile-header">
                                <br>
                                <div class="col-sm-6 pull-right">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Due date : </h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{ formatDate(projectProgress.project.endDate) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row mb-6">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">Project Leader Contact: </h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary">
                                        {{ projectProgress.project.projectLeader.mobile }}
                                    </div>
                                </div>
                                <br>
                                <div class="row mb-6">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">Charge : </h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary">{{ projectProgress.project.charge }} &nbsp;
                                        Mois/Hommes
                                    </div>
                                </div>
                                <br>
                                <div class="row mb-6">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">Started Date : </h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary">
                                        {{ formatDate(projectProgress.project.startedDate) }}
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper wrapper-content animated fadeInUp">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="row m-t-sm">
                                    <div class="col-lg-12">
                                        <div class="panel blank-panel">
                                            <div class="panel-heading">
                                                <div class="panel-options">
                                                    <ul class="nav nav-tabs">
                                                        <li class="nav-item">
                                                            <button aria-selected="false" class="nav-link active"
                                                                    data-bs-target="#tab-activity" data-toggle="tab"
                                                                    href="#tab-1">Teams
                                                            </button>
                                                        </li>
                                                        <li class="nav-item">
                                                            <button aria-selected="true" class="nav-link "
                                                                    data-bs-target="#tab-activity" data-toggle="tab"
                                                                    href="#tab-2">Files
                                                            </button>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane show active" id="tab-1">
                                                        <br>
                                                        <a (click)="goToCreateTeam()"
                                                           class="btn btn-sm  float-right " style="color: #fff;">
                                                            Create new team
                                                        </a>
                                                        <app-project-team
                                                                [project]="projectProgress"></app-project-team>
                                                    </div>
                                                    <div class="tab-pane" id="tab-2">
                                                        <app-project-file
                                                                [projectDetail]="projectProgress"></app-project-file>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
